<!-- wp:template-part {"slug":"header","theme":"photology","area":"header"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-about-title"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-about"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-about-cta"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-about-team"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-about-funfact"} /-->

<!-- wp:template-part {"slug":"footer","theme":"photology","area":"footer"} /-->