<!-- wp:template-part {"slug":"header","theme":"photology","area":"header"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-hero"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-front-page-services"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-portfolio-2"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-testimonials"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-team"} /-->

<!-- wp:template-part {"slug":"footer","theme":"photology","area":"footer"} /-->