<!-- wp:template-part {"slug":"header","theme":"photology","area":"header"} /-->

<!-- wp:pattern {"slug":"photology/photology-photology-gutenverse-page-hero"} /-->

<!-- wp:gutenverse/section {"elementId":"guten-snOTg2","margin":{"Desktop":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}}}} -->
<div class="section-wrapper" data-id="snOTg2"><section class="wp-block-gutenverse-section guten-element guten-section guten-snOTg2 layout-boxed align-stretch"><div class="guten-container guten-column-gap-default"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-Z8tlF6"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-Z8tlF6"><div class="guten-column-wrapper" data-id="Z8tlF6"><!-- wp:gutenverse/post-content {"elementId":"guten-FCTeza"} -->
<div class="guten-element guten-post-content guten-FCTeza"></div>
<!-- /wp:gutenverse/post-content --></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","theme":"photology","area":"footer"} /-->